@theme inline {
    --text-*: initial;

    --text-title-h1: 3.5rem;
    --text-title-h1--line-height: 4rem;
    --text-title-h1--letter-spacing: -0.01em;
    --text-title-h1--font-weight: 500;
    --text-title-h2: 3.5rem;
    --text-title-h2--line-height: 3.5rem;
    --text-title-h2--letter-spacing: -0.01em;
    --text-title-h2--font-weight: 500;
    --text-title-h3: 2.5rem;
    --text-title-h3--line-height: 3rem;
    --text-title-h3--letter-spacing: -0.01em;
    --text-title-h3--font-weight: 500;
    --text-title-h4: 2rem;
    --text-title-h4--line-height: 2.5rem;
    --text-title-h4--letter-spacing: -0.005em;
    --text-title-h5--font-weight: 500;
    --text-title-h5: 1.5rem;
    --text-title-h5--line-height: 2rem;
    --text-title-h5--letter-spacing: 0em;
    --text-title-h5--font-weight: 500;
    --text-title-h6: 1.25rem;
    --text-title-h6--line-height: 1.75rem;
    --text-title-h6--letter-spacing: 0em;
    --text-title-h6--font-weight: 500;

    --text-label-xl: 1.5rem;
    --text-label-xl--line-height: 1.75rem;
    --text-label-xl--letter-spacing: -0.015em;
    --text-label-xl--font-weight: 500;
    --text-label-lg: 1.125rem;
    --text-label-lg--line-height: 1.5rem;
    --text-label-lg--letter-spacing: -0.015em;
    --text-label-lg--font-weight: 500;
    --text-label-md: 1rem;
    --text-label-md--line-height: 1.5rem;
    --text-label-ms--letter-spacing: -0.011em;
    --text-label-ms--font-weight: 500;
    --text-label-sm: .875rem;
    --text-label-sm--line-height: 1.25rem;
    --text-label-sm--letter-spacing: -0.006em;
    --text-label-sm--font-weight: 500;
    --text-label-xs: .75rem;
    --text-label-xs--line-height: 1rem;
    --text-label-xs--letter-spacing: 0em;
    --text-label-xs--font-weight: 500;

    --text-paragraph-xl: 1.5rem;
    --text-paragraph-xl--line-height: 2rem;
    --text-paragraph-xl--letter-spacing: -0.015em;
    --text-paragraph-xl--font-weight: 400;
    --text-paragraph-lg: 1.125rem;
    --text-paragraph-lg--line-height: 1.5rem;
    --text-paragraph-lg--letter-spacing: -0.015em;
    --text-paragraph-lg--font-weight: 400;
    --text-paragraph-md: 1rem;
    --text-paragraph-md--line-height: 1.5rem;
    --text-paragraph-md--letter-spacing: -0.011em;
    --text-paragraph-md--font-weight: 400;
    --text-paragraph-sm: .875rem;
    --text-paragraph-sm--line-height: 1.25rem;
    --text-paragraph-sm--letter-spacing: -0.006em;
    --text-paragraph-sm--font-weight: 400;
    --text-paragraph-xs: .75rem;
    --text-paragraph-xs--line-height: 1rem;
    --text-paragraph-xs--letter-spacing: 0em;
    --text-paragraph-xs--font-weight: 400;

    --text-subheading-md: 1rem;
    --text-subheading-md--line-height: 1.5rem;
    --text-subheading-md--letter-spacing: 0.06em;
    --text-subheading-md--font-weight: 500;
    --text-subheading-sm: .875rem;
    --text-subheading-sm--line-height: 1.25rem;
    --text-subheading-sm--letter-spacing: 0.06em;
    --text-subheading-sm--font-weight: 500;
    --text-subheading-xs: .75rem;
    --text-subheading-xs--line-height: 1rem;
    --text-subheading-xs--letter-spacing: 0.04em;
    --text-subheading-xs--font-weight: 500;
    --text-subheading-2xs: .6875rem;
    --text-subheading-2xs--line-height: .75rem;
    --text-subheading-2xs--letter-spacing: 0.02em;
    --text-subheading-2xs--font-weight: 500;

    --text-doc-label: 1.125rem;
    --text-doc-label--line-height: 2rem;
    --text-doc-label--letter-spacing: -0.015em;
    --text-doc-label--font-weight: 500;

    --text-doc-paragraph: 1.125rem;
    --text-doc-paragraph--line-height: 2rem;
    --text-doc-paragraph--letter-spacing: -0.015em;
    --text-doc-paragraph--font-weight: 400;
}

