.cue {
    font-size: var(--video-player-cue-font-size);
    line-height: 120%;
}

.cue-display {
    bottom: var(--video-player-safe-area-bottom, 0);
}

.cue,
video::cue {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

video::-webkit-media-text-track-display-backdrop {
    background: none;
}

video.hide-native-cue::cue,
video.hide-native-cue::-webkit-media-text-track-display {
    opacity: 0;
    display: none;
}

.adaptive-cue-display .cue-mb {
    margin-bottom: var(--video-player-controls-height);
}
