@import "tailwindcss";

@import "./styles/texts.css" layer(theme);
@import "./styles/colors.css" layer(theme);
@import "./styles/shadows.css" layer(theme);

@theme inline {
    --radius-10: 0.625rem;
    --radius-220: 1.25rem;

    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-accordion-down: accordion-down 0.2s ease-out;

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
            opacity: 1;
        }
        to {
            height: 0px;
            opacity: 0;
        }
    }

    @keyframes accordion-down {
        from {
            height: 0px;
            opacity: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
            opacity: 1;
        }
    }
}

@utility slide-* {
    --slide-count: --value(integer);
}

@utility slide-gap-* {
    gap: calc(var(--spacing) * --value(integer));
    --slide-gap: calc(var(--spacing) * (var(--slide-count) - 1) * --value(integer));
}

@utility slide-basis-* {
    flex-basis: calc((100% - var(--slide-gap)) * --value(ratio));
}
